{% extends "main/base.html" %}
{% block content %}
    <div class="article-container">
        {{ test_text }}
        {% for article in articles %}
            <div class="article-header">
                <h1>{{ article.title }}</h1>
                <p>by {{ article.author }}</p>
                
                {% if article.created_at|date:"Y-m-d H:i:s" != article.updated_at|date:"Y-m-d H:i:s" %}
                    <p>Posted on: {{ article.created_at|date:"M d, Y, h:i a" }}</p>
                    <p>Updated: {{ article.updated_at|date:"M d, Y, h:i a" }}</p>
                {% else %}
                    <p>Posted on: {{ article.created_at|date:"M d, Y, h:i a" }}</p>
                {% endif %}
                
            </div>
            <div class="article-body">
                <p>{{ article.content }}</p>
            </div>
        {% endfor %}
        <div class="pagination">
            {% if page_obj.has_previous %}
            {% endif %}
            
            current page number
            
            {% if page_obj.has_next %}
            {% endif %}      
        </div>
    </div>
{% endblock content %}