:root {
    /*--primaryColor: #52fc03;*/
    --primaryColor: #4cb04a;
    --secondaryColor: #b04a4c;
    --black: #000000;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: var(--white)
}

a {
    text-decoration: none;
    font-weight: bold;
}

.navbar {
    padding: 0;
    margin: 0;
    background: var(--primaryColor)
}

.navbar a {
    display: inline-block;
    color: var(--white);
    padding: 10px 10px;
}

.navbar a:hover {
    background-color: var(--secondaryColor);
    /*color: var(--secondaryColor);*/
    text-decoration: none;
    transition-duration: .25s;
}

.homebanner {
    background: var(--secondaryColor);
}

.column-container {
    display: flex;
}

.column {
    padding: 0.625em;
}

.column-side {
    flex: 1;
}

.column-middle {
    flex: 3;
}