<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <script src="https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}"></script>
    
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Blog</title>
        {% endif %}
    </head>
    <body>
        <div class="homebanner">BIG BIG BANNER</div>
        <ul class="navbar">
            <a class="navbar-item" href="{% url 'home' %}">Home</a>
            <a class="navbar-item" href="#articles">Articles</a>
            <a class="navbar-item" href="#about">About</a>
            <a class="navbar-item" href="{% url 'contact-form' %}">Contact</a>
        </ul>
        </div>
        <div class="column-container">
            <div class="column column-side">Left Column</div>
            <div class="column column-middle">Main Middle Column {% block content %}{% endblock content %}</div>
            <div class="column column-side">Right Column</div>
        </div>
    </body>
</html>